.text-decoration-none{
    text-decoration: none!important;
}
.white{
    background: #ffffff!important;
}
.blue{
    background: #081259!important;
    color: white!important;
}
.green{
    background: #108505!important;
}